<?xml version="1.0"?>
<config>
  <modules>
    <Dwolla_DwollaPaymentModule>
      <version>2.0.0</version>
    </Dwolla_DwollaPaymentModule>
  </modules>
  <global>
    <models>
      <dwollaPaymentModule>
        <class>Dwolla_DwollaPaymentModule_Model</class>
      </dwollaPaymentModule>
    </models>
    <helpers>
      <dwollaPaymentModule>
        <class>Dwolla_DwollaPaymentModule_Helper</class>
      </dwollaPaymentModule>
    </helpers>
    <blocks>
      <dwollaPaymentModule>
        <class>Dwolla_DwollaPaymentModule_Block</class>
      </dwollaPaymentModule>
    </blocks>
  </global>
  <default>
    <payment>
      <dwollaPaymentModule>
        <model>dwollaPaymentModule/standard</model>
        <active>1</active>
        <dwollaTestMode>0</dwollaTestMode>
        <order_status>pending</order_status>
        <title>Dwolla Off-Site Gateway</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </dwollaPaymentModule>
    </payment>
  </default>
  <frontend>
    <routers>
      <dwollaPaymentModule>
        <use>standard</use>
        <args>
          <module>Dwolla_DwollaPaymentModule</module>
          <frontName>dwollaPaymentModule</frontName>
        </args>
      </dwollaPaymentModule>
    </routers>
  </frontend>
</config>
